.homepage{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly

}
.homepage img{
    box-shadow: 0 5px 10px rgb(5, 15, 4) ;
    border-radius: 20px;
    width: 600px;
    height: 400px;
}
#green{
    color: black;
   font-weight: bold;
   font-size: 60px;

}
#btn{
    
        border-radius: 50px;
        padding: 10px 20px;
        color: white;
        font-weight: bold;
        background:linear-gradient(45deg,blue,rgb(62, 207, 30));
   
}